<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dagm.shorter.mapper.ShorterRecordMapper">

    <resultMap id="BaseResultMap" type="com.dagm.shorter.model.ShorterRecordPO">
        <id column="id" property="id"/>
        <result column="shouter_str" property="shouterStr" jdbcType="VARCHAR"/>
        <result column="original_url" property="originalUrl" jdbcType="VARCHAR"/>
        <result column="expire_time" property="expiredTime" jdbcType="TIMESTAMP"/>

    </resultMap>
    <sql id="baseSql">
        id,shouter_str,expire_time,original_url
    </sql>
    <insert id="addRecord" keyProperty="id" useGeneratedKeys="true">
        insert into `shorter` (id, shouter_str,original_url, expire_time)
        values (#{record.id}, #{record.shouterStr},#{record.originalUrl}, #{record.expiredTime})
    </insert>

    <select id="getShorterRecById" resultMap="BaseResultMap">
        select
        <include refid="baseSql"/>
        from shorter where id = #{leafId}
    </select>
</mapper>